:root{
    --background:   #22181C;
    --border:       #73BFB8;
    --font:         'Verdana';
}
nav{
    background: var(--background);
  }
  
  nav::after{
    content: '';
    clear: both;
    display: table;
   
  }
  
  nav .logo{
    font-family: var(--font);
    float: left;
    color: #FFF8F0;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
    
  }
  
  nav ul{
    float: right;
    list-style: none;
    margin-right: 80px;
    position: relative;  
  }
  
  nav ul li{
    display: inline-block;
    background: #22181C;
    margin: 0 5px;
  }
  
  nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 19px;
  
  }
  nav ul li a:hover{
    color: var(--border);
    border-radius: 5px;
  box-shadow: 0 0 5px var(--border),
              0 0 5px var(--border);
  }
  
  nav ul ul li a:hover{
    color: var(--border);
    box-shadow: none;
  }
  
  nav ul ul{
    position: absolute;
    top: 80px;
    border-top: 3px solid var(--border);
     opacity: 0;
     visibility: hidden;
     transition: top .3s;
  }
  
  nav ul ul ul{
    border-top: none;
  }
  
  nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  
  nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0,0,0.3);
  }
  
  header{
  
      color: #FFF8F0;
  }